weather-app/node_modules/
weather-app/credentials.js
weather-app-2/node_modules/
weather-app-2/credentials.js
weather-server/node_modules/
weather-server/credentials.js
crud/node_modules/
crud/config.js
